.input {
  background: white;
  padding: 0.5rem;
}

.label {
  display: block;
  font-size: 0.8rem;
  font-weight: 900;
  color: #555;
  padding-bottom: 0.3rem;
}

.child input {
  box-sizing: border-box;
  border-radius: 0.3rem;
  border: 1px solid #ccc;
  background: #E9E9ED;
  width: 100%;
  color: #333;
  outline: none;
  font-size: 1rem;
  padding: 0 0.5rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  height: 2.4rem;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.child input:focus {
  background: #FFFCC8 !important;
  box-shadow: 0 0 0 .25rem #fdd8c1;
  border: 1px solid #e4a57e !important;
}

.error {
  font-size: 0.8rem;
  color: #555;
  font-weight: normal;
  padding-top: 0.2rem;
}

.child button {
  outline: none;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  /* background: #f3722c; */
  background: var(--bgColor);
  cursor: pointer;
  text-transform: capitalize;
  color: #fff;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.child button:focus {
  outline: 2px solid #f58e56;
  outline-offset: 2px;
}

.child button:hover {
  /* background: #f15d0e; */
  background: var(--bgHover);
}

.child button:active {
  /* background: #d9540d; */
  background: var(--bgActive);
}

/* Checkbox */
.checkbox input[type=checkbox] {
  -webkit-appearance: none;
  appearance: none;
  background: white;
  margin: 0;
  padding: 0;
  position: relative;
  width: 1rem;
  height: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  color: green;
  vertical-align: -2.5px;
  cursor: pointer;
}

.checkbox input[type=checkbox]:focus {
  box-shadow: none;
  outline: 2px solid #f58e56;
  outline-offset: 2px;
}

.checkbox input[type=checkbox]::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1rem;
  height: 1rem;
  border-radius: 0.25rem;
  visibility: hidden;
  background: #f3722c;
}


.checkbox input[type=checkbox]::after {
  content: '';
  position: absolute;
  visibility: hidden;
  left: 4.5px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-radius: 1px;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox input[type=checkbox]:checked {
  border: 1px solid #f3722c;
}

.checkbox input[type=checkbox]:checked::after {
  visibility: visible;
}

.checkbox input[type=checkbox]:checked::before {
  visibility: visible;
}

.checkboxlabel {
  font-size: 0.95rem;
  color: #555;
  padding-left: 0.6rem;
  cursor: pointer;
}

/* radio */
.radio input[type=radio] {
  -webkit-appearance: none;
  appearance: none;
  background: white;
  margin: 0;
  padding: 0;
  position: relative;
  width: 1rem;
  height: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  color: green;
  vertical-align: -2.5px;
  cursor: pointer;
}

.radio input[type=radio]:focus {
  box-shadow: none;
  outline: 2px solid #f58e56;
  outline-offset: 2px;
}


.radio input[type=radio]::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  visibility: hidden;
  background: #f3722c;
}

.radio input[type=radio]::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 0.15rem;
  visibility: hidden;
  background: white;
}

.radio input[type=radio]:checked {
  border: 1px solid #f3722c;
}

.radio input[type=radio]:checked::after {
  visibility: visible;
}

.radio input[type=radio]:checked::before {
  visibility: visible;
}

.radiolabel {
  font-size: 0.95rem;
  color: #555;
  padding-left: 0.6rem;
  cursor: pointer;
}